<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <h1>Site loco</h1>
        <h2>Titulo um</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum qui corrupti nam dolores quidem, praesentium magni fugiat repudiandae reiciendis nisi vero architecto dolore ab et voluptate, minima quia dignissimos ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, natus dolorum ipsum obcaecati minus veniam fugiat repellendus aliquam tenetur, distinctio voluptate explicabo. Nemo magni tempore placeat molestias eligendi eum sequi?</p>
        <h2>Titulo dois</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, adipisci ea! Nihil mollitia veniam adipisci similique eos tempore voluptas ab recusandae sunt consequatur fugiat accusamus aperiam ea, quam eius eveniet?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, vero commodi? Corrupti minima eligendi, exercitationem doloremque fugit quo aliquid rem saepe. Voluptate, commodi laudantium quam omnis dolorem sunt amet illo!</p>
        <h2>Título 3</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ipsum iusto fuga obcaecati voluptatibus possimus quae ut placeat et omnis officiis, repudiandae voluptas ea? Provident magni nemo nostrum facilis eum!</p>
    </main>
</body>
</html>